<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add a new Program</title>
        <meta http-equiv="=Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <form method="post" action="/create">
            <input type="text" placeholder="CNC ID" name="cncId"/>
            <input type="text" placeholder="CNC Type" name="cncType"/>
            <input type="text" placeholder="Machine Dimensions" name="cncDimensions"/>
            <input type="text" placeholder="Author" name="programAuthor"/>
            <input type="text" placeholder="Description" name="programDescription"/>
            <input type="submit"/>
        </form>
    </body>

</html>