<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit Program</title>
        <meta http-equiv="=Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <form method="post" action="/update">
            <input type="text" placeholder="Program ID" name="programId" th:value="${cncProgram.programId}">
            <input type="text" placeholder="Machine ID" name="machineId" th:value="${cncProgram.machineId}"/>
            <input type="text" placeholder="CNC Type" name="cncType"th:value="${cncProgram.cncType}"/>
            <input type="text" placeholder="Machine Dimensions" name="machineDimensions" th:value="${cncProgram.machineDimensions}"/>
            <input type="text" placeholder="Author" name="programAuthor" th:value="${cncProgram.programAuthor}"/>
            <input type="text" placeholder="Description" name="programDescription" th:value="${cncProgram.programDescription}"/>
            <input type="submit"/>
        </form>
    </body>

</html>