<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greeting: CNC Program List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Program List In Application Memory</h1>
    <br/>
    <div>
        <table border="1">
            <tr>
                <th>Program ID</th>
                <th>CNC ID</th>
                <th>CNC Type</th>
                <th>Machine Dimensions</th>
                <th>Author</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each ="program : ${programs}">
                <td th:utext="${program.programId}">...</td>
                <td th:utext="${program.cncId}">...</td>
                <td th:utext="${program.cncType}">...</td>
                <td th:utext="${program.cncDimensions}">...</td>
                <td th:utext="${program.programAuthor}">...</td>
                <td th:utext="${program.programDescription}">...</td>
                <td><a th:href="@{'/edit-form/' + ${program.programId} }">Edit</a></td>
                <td><a th:href="@{'/delete/' + ${program.programId} }">Delete</a></td>
            </tr>
        </table>
        <br/>
        <a href="/add-form">Add Program</a>
        <br/>
    </div>
</body>
</html>